{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content_area %}
    <h2 class="text-3xl font-bold text-gray-800 mb-6">Real-time Network Traffic</h2>
    <div class="flex items-center space-x-6 mb-6 text-gray-700">
        <div class="flex items-center space-x-2"><span class="font-semibold">Threat Level:</span><span id="threat-level"
                class="text-green-500 font-semibold">Safe</span></div>
        <div class="flex items-center space-x-2"><span class="font-semibold">Bandwidth:</span><span id="bandwidth">100
                Mbps</span></div>
        <div class="flex items-center space-x-2"><span class="font-semibold">Avg Connection
                Rate:</span><span id="avg-connection-rate">500 conn/s</span></div>
    </div>
    <div class="flex items-center justify-between mb-6 text-gray-700">
        <div class="flex gap-3">
            <button id="captureButton"
                class="text-sm border rounded-lg px-3 py-1 bg-green-600 text-white flex items-center space-x-2"><i
                    class="fas fa-play"></i><span>Start Capturing</span></button>
        </div>
    </div>

    <!-- Traffic Details List -->
    <div id="traffic-list" class="space-y-2 overflow-y-auto h-96 pr-4 text-gray-700">
        <div class="bg-gray-200 p-2 rounded-lg shadow-sm text-sm">
            <strong>Timestamp:</strong> 11/10/2024, 5:06:37 PM<br>
            <strong>Source IP:</strong> 110.224.95.87<br>
            <strong>Destination IP:</strong> 103.14.121.164<br>
            <strong>Protocol:</strong> TCP<br>
            <strong>Packet length:</strong> 178 bytes
        </div>
    </div>
{% endblock %}

{% block script_area %}
    <script>
        const sidebar = document.getElementById('sidebar');
        document.getElementById('openSidebar').addEventListener('click', () => sidebar.classList.remove('-translate-x-full'));
        document.getElementById('closeSidebar').addEventListener('click', () => sidebar.classList.add('-translate-x-full'));
    </script>
{% endblock %}
